html{
    background-image: url('./assets/images/background.jpeg');
    background-repeat: no-repeat;
    /* background-position:center; */
    background-size: cover;
}

*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body{
    margin: 0;
}

.screen-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    width: 100vw;
    height: 100vh;
}

.auth-title{
    font-weight: bold;
}

.auth-container{
    height: 700px;
    width: 700px;
    background-color: aqua;
    border-radius: 30px;
    padding: 50px;
}

.auth-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    border-width: 0px;
}

.auth-label{
    display: block;
    font-size: large;
}

.auth-button{
    width: 100%;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    border-width: 0px;
}

.header{
    background-color: rgb(70, 67, 67);
    height: 10%;
    padding: 20px;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav{
    text-align: right;
    display: inline-block;
    padding-top: 15px;
}

.logo-img{
    width: 100px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 50px 10px 10px 10px;
}

.logout{
    color: red;
}